# {{ project_name }}

{{ description }}

## copier template

This project was made from a copier template - probably using one of these methods:

```sh
# from a remote git repo
repo=https://github.com/dkidney/copier-template-python.git
copier copy --vcs-ref develop ${repo} {{ project_name }}
copier copy --vcs-ref v0.2.0 ${repo} {{ project_name }}
copier copy --vcs-ref a1b2c3d4 ${repo} {{ project_name }}

# from a local template
copier copy --vcs-ref . ~/github/my-new-project  
copier copy --vcs-ref HEAD . ~/github/my-new-project  # if a git repo
```

or if it was made from a local version of the template

The project tree should look something like this:

```
.
├── main.py
├── Makefile
├── notebooks
│   └── helloworld.ipynb
├── pyproject.toml
├── README.md
├── src
│   └── {{ package_name }}
│       ├── __init__.py
│       └── helloworld.py
└── tests
    └── test_import.py
```

You can set up a venv and install dependencies using the Makefile

```sh
make clean # removes and existing .venv files
make venv # sets up a new .venv
make sync # uv sync
```

And you can run tests and checks 

```sh
make test # uv run pytest
make check # uv run ruff check
make format # uv run ruff format --check
```

You can also run pre-commit on your staged files

```sh
uv run pre-commit install  # installs the pre-commit hook
uv run pre-commit run --all-files  # checks all staged files
```