{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "da870303",
   "metadata": {},
   "outputs": [],
   "source": [
    "import {{ package_name }}\n",
    "\n",
    "print({{ package_name }}.__version__)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "8024508f",
   "metadata": {},
   "outputs": [],
   "source": [
    "from {{ package_name }} import helloworld\n",
    "\n",
    "helloworld()"
   ]
  }
 ],
 "metadata": {
  "language_info": {
   "name": "python"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
